/* Styling for Body/ Header */
body {
  background-color: #7ea5f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

header {
  margin-bottom: 10px;
}

header h1 {
  display: inline-block;
  font-size: 36px;
  text-align: left;
  align-items: center;
  justify-content: space-around;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  background-color: var(--dark);
  text-align: end;
  background-color: rgb(28, 104, 170);
}

nav ul {
  position: relative;
  right: 40px;
  list-style-type: none;
  border-style: dashed;
}

nav ul li {
  display: inline;
  list-style-type: none;
}

nav ul li a {
  color: purple;
  font-size: 30px;
  padding: 10px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
} 


main {
  flex-wrap: wrap;
  display: flex;
}

.projects {
  padding: 10px;
  text-align: center;
  text-size-adjust: auto;
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}

.project-img {
  max-width: 600px;
  max-height: 450px;
}

.git-hub {
  max-width: 50px;
}

footer {
  display: flex;
  padding: 25px;
  justify-content: center;
  margin-top: 3%;
  font-size: 12px
}

/* Media Query */

@media screen and (max-width: 600px) {
  .project-img {
      max-width: 300px;
  }

  nav ul li a {
     
      text-decoration: none;
  }

  header {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 10%;
  }

  header img {
      width: 100%;
  }

  textarea {
      width: 300px;
      height: 150px;
  }
}

form {
  margin-bottom: 20px;
} 

.about_me-image {
  padding: 10px;
  border-radius: 10px;
  size: 20px;
}

.col.about-content {
  padding: 2rem 0rem 0rem 2rem;
  font-size: 24pt;
  font-style: italic;
}
